/* Write your CSS here */
.container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.coinContainer {
  background-color: hsl(0, 0%, 100%);

  min-height: 80vh;
  min-width: 40vw;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.image {
  height: 200px;
  width: 200px;
}
.button {
  margin-top: 15px;
  border-style: none;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-weight: bold;
  color: #a35200;
  background-image: linear-gradient(to right, #f9d423, #e2a139);
}
.coin {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.t {
  margin: 5px;
}
